
<h2>Reserve your table via email:</h2>
	<form role="form">
	<%= form_for([@restaurant,@restaurant.reservations.build]) do |f| %>
	 <p class="form-group">
	 	<%= f.label :email %>
	 	<%= f.text_field :email, placeholder: "email" %>
	 </p>
	 <p class="form-group">
	 	<%= f.label :select_date %>
	 	<%= f.date_select :requested_date %>
	 <p>	
	 <p>
	 	<%= f.label :message %>  
	 	<%= f.text_area :message, :cols=>30, :rows=> 7 %>  
	 </P> 	
	 <p>
	 	<%= f.submit "Reservation Msg", class: "btn btn-lg btn-primary" %>
	 </p>	
		<% end %> 
	</form>

