
<h2>Reserve your table:</h2>
	<form role="form">
	<%= form_for([@restaurant,@restaurant.reservations.build]) do |f| %>
	 <p class="form-group">
	 	<%= f.text_field :email, class: 'form-control col-xs-2', placeholder: "email" %>
	 </p>
	 <p class="form-group">
	<span class="center"><%= f.file_field :menu, name: "open the menu" %></span>
	 </p>
	 <p class="form-group">
	 	<%= f.date_select :requested_date %>
	 <p>	
	 <p class="form-group">
	 	<%= f.label :message %>  
	 	<%= f.text_area :message, :cols=>30, :rows=> 5, class: "overflo", placeholder: "leave a short/concise msg" %>  
	 </P> 	
	 <p class="form-group">
	 	<%= f.submit "Reservation Msg", class: "btn btn-lg btn-primary" %>
	 </p>	
		<% end %> 
	</form>