<h1>Restaurant info:</h1>

<%= image_tag @restaurant.image.masthead.url if @restaurant.image%>
	
<%= @restaurant.name %>
<%= @restaurant.description %>
<%= @restaurant.full_address %>
<%= @restaurant.phone_number %>
	

<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
<%= link_to "Destroy", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"} %>
<%= link_to "Back", restaurants_path %>
