
<%= image_tag @restaurant.image.masthead.url if @restaurant.image%>
	
<%= @restaurant.name %>
<%= @restaurant.description %>
<%= @restaurant.full_address %>
<% if @restaurant.owner %>
  <p><%= @restaurant.owner.email %></p>
  <p><%= @restaurant.owner.name %></p>
<% end %>


	
<% if @restaurant.owner == current_owner %>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
<%= link_to "Destroy", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"} %>
<%= link_to "Back", restaurants_path %>

<%= form_for([@restaurant,@restaurant.reservations.build]) do |f| %>
 <p>
 	<%= f.label :email %>
 	<%= f.text_field :email %>
 </p>
 <p>
 	<%= f.label :date_time %>
 	<%= f.text_field :date_time %>
 </p>
 <p>
 	<%= f.label :message %>  
 	<%= f.text_field :message %>  
 </P> 	
 <p>
 	<%= f.submit %>
 </p>	
<% end %> 
<% end %>
<p>
<img src="http://maps.googleapis.com/maps/api/staticmap?center=#{@restaurant.full_address}&zoom=8&size=500x300&key=AIzaSyC1iwgqU6etjiU7FIqPViR6lGCKGf3dKOE" alt="Google Map Location" >
</P>

