<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
<%= link_to "Home", root_path, class: "btn"  %>
<%= link_to "New Post", new_restaurant_path, class: "btn" %>
<% if current_owner %>
	<%= link_to "Sign Out", destroy_owner_session_path, method: :delete %>
<% else %>
	<%= link_to "sign in", new_owner_session_path %>
<% end %>
</nav>
</div>

<div class="hero-unit page-header">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>	
</div>
	<div class="container">	
		<%= yield %>
	</div>	

</body>
</html>
