<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-default" role="navigation">
<%= link_to "Home", root_path, class: "btn btn-default"  %>
<%= link_to "New Post", new_restaurant_path, class: "btn btn-default" %>
</nav>
</div>

<div class="container">
<div class="jumbotron">
<%= yield %>
</div>
</div>

</body>
</html>
